* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(24, 54, 56);
}
header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
}
#umhlanga {
  font-weight: bold;
  margin: 0;
  /* text-shadow: 3px 2px 5px black; */
}
#bc {
  font-style: oblique;
  font-size: 15px;
  margin: 0;
  text-shadow: 3px 2px 5px black;
}
.navbar-brand div {
  border: gray solid 1px;
  padding: 5px;
  height: 65px;
  margin: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1);
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: green underline 3px;
}

main {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
  color: white;
  box-shadow: 1px 3px 5px rgb(139, 139, 139);
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-info,
.contact-form {
  flex: 1;
  margin: 10px 0;
  padding: 20px;
}
.contact-container hr {
  border: 1px solid white;
}

@media (min-width: 600px) {
  .contact-container {
    flex-direction: row;
  }

  .contact-info {
    margin-right: 20px;
  }
}

h1,
h2 {
  margin: 10px 0;
}

label {
  margin: 10px 0 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
}

button {
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  border: 1px solid white;
}
