
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("images/wmremove-transformed.jpeg");

  background-size: cover;
  background-position: center;

  color: white;
  height: 100vh;
}
section {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

header {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  text-align: center;
}
#umhlanga {
  font-weight: bold;
  margin: 0;
  text-shadow: 0;
}
#bc {
  font-style: oblique;
  font-size: 15px;
  margin: 0;
  text-shadow: 3px 2px 5px black;
}
.navbar-brand div {
  border: gray solid 1px;
  padding: 5px;
  height: 65px;
  margin: 0px 5px 0px 5px;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
}
nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: green underline 3px;
}

main {
  /* background-color: rgba(0, 0, 0, 0.5); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 20px auto;
}

.content {
  margin: 10px 0;
  text-shadow: 3px 2px 5px black;
}
